html {
    font-family: Roboto, sans-serif;
}
* {
    color: black;
}
nav ul li {
    display: inline;
    margin: 5px;
}
h1 {
    color: blue;
    margin-bottom: 0.25em;
    justify-content: center;
}
h2 {
    color:black;
    font-size: 1em;
}
a {
    color: blue;
}
.contacts {
    display: flex;

    }